html, body {
	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;

	font-size: 16px;
	font-family: "Roboto", sans-serif;

	color: black;
	background-color: white;
}

* {
	color: inherit;
	background-color: inherit;
}

hr {
	border: 0 !important;

	border-top: 2px solid black !important;
	width: 100% !important;
	padding: 0 !important;
}

.docmypd-section {
	display: block;
	padding: 16px;
	margin: 2px;
	border: 0;
	border-left: 1px solid black;
	border-right: 1px solid black;
	width: 100%;
}

.docmypd-brief, .docmypd-file {
	font-style: italic !important;
}

.docmypd-source {
	border: 1px solid #1212FF;
	border-left: 8px solid #1212FF;
	padding: 8px 32px;
	margin: 4px;
	width: 100%;
}

.docmypd-source > pre {
	display: inline;
	padding: 0;
	margin: 0;
	border: 0;
	width: 100%;
}

.docmypd-throws, .docmypd-races {
	border: 0;
	border-left: 8px solid #FF1212;
	padding: 8px;
	margin: 4px;
}

.docmypd-returns {
	border: 0;
	border-left: 8px solid #12FF12;
	padding: 8px;
	margin: 4px;
}

.docmypd-tag-abstract, .docmypd-tag-obsolete {
	display: block;
	font-size: 1.4em;
	padding: 8px;
	margin: 8px;
}
